html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 3.5rem !important;
    line-height: 1em;

    margin: 0px;
    color: #dddddd;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 1.5rem !important;
    line-height: 1em;

    margin: 0px;
    margin-bottom: 15px;
    color: #dddddd;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem !important;
    line-height: 1em;

    margin: 0px;
    color: #dddddd;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
    line-height: 1.5em;

    margin-bottom: 0px;
    color: #dddddd;
}

a { 
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;

    font-size: 0.85rem !important;

    text-decoration: none; 
    color: white;
}

a#button { 
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    text-decoration: none; 
}

hr {
    opacity: 20%;
    color: #ffffff;
    background-color: #ffffff;
}

ul {
    padding-left: 30px;
}

.blur-main {
    scroll-snap-stop: normal;
    scroll-snap-align: start;
    
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 40vw;
    position: relative;

    padding-left: 50px;
    padding-right: 50px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-center {
    margin: 0;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tagline {
    padding-right: 10vw
}

.about {
    scroll-snap-stop: normal;
    scroll-snap-align: start;

    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;

    padding-top: 10px;
}

.about-title {
    text-align: center;

    height: 50px;
    width: auto;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.about-intro-container {
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.about-card-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    margin-left: 25%;
    margin-right: 25%;
}

.about-photo {
    border-radius: 50%;
    width: 175px; 
    height: 175px;

    padding: 50px;
    padding-left: 0px;
}

.about-flex {
    padding-top: 50px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 70%;
}

.about-item {
    width: 50%;
    min-width: 315px;
}

.about-card {
    /* blue - purple gradient */
    background: linear-gradient(135deg, #2b2b2b 0%, #494949 100%);

    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    width: auto;
    min-width: 200px;

    min-height: 205px;

    transition: 0.2s;
}

.about-card:hover {
    box-shadow:inset 0px 0px 0px 2.5px rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.cardtitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem !important;
    line-height: 1em;

    margin: 0px;
    color: #dddddd;
}

.cardsection {
    font-weight: 400;
    font-size: 1rem !important;
    line-height: 1em;

    margin-top: 15px;
    color: #dddddd;
}

.carddetails {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85rem !important;
    line-height: 1em;

    margin-bottom: 0px;
    color: #dddddd;
}

.cardtext {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85rem !important;
    line-height: 1em;

    margin-top: 10px;
    color: #dddddd;
}

#education-card {
    /* green - blue gradient */
    background: linear-gradient(135deg, #153da1 0%, #622891 100%);
    min-width: 260px;
}

#languages-card {
    background: linear-gradient(135deg, #482891 0%,  #6a067b 100%);
    min-width: 260px;
}

#work-card {
    /* green - blue gradient */
    background: linear-gradient(135deg, #54067b 0%, #8f1b6c 100%);
    min-width: 260px;
    max-width: 320px;
}

.contact {
    scroll-snap-stop: normal;
    scroll-snap-align: start;

    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    height: calc(100vh - 60px);
    width: 100vw;

    position: relative;
    top: 0;

    padding-top: 10px;
}

.contact-title {
    text-align: center;

    height: 50px;
    width: auto;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.footer {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 10px;
    height: 20px;  
    align-items: center;
    text-align: center;
    color: white;
}

.dither {
    z-index: -1;
}

#landing-dither {
    width: 100vw;
    height: 100vh;

    top: 0;
    position: absolute;
}

.button {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    color: #000000;
    padding: 8px 16px;

    margin-right: 10px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.2s;

    text-decoration: none;
}

.button:hover {
    background-color: #d1d1d1;
    border-radius: 20px;
    border: none;
    color: #000000;
    padding: 8px 16px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.2s;
}

.triangle_down {

    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(135deg);

    margin-top: 20px;
    margin-left: 5px;

    transition-duration: 0.1s;
}

.triangle_down:hover {

    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 4px solid #f1f1f1;
    border-top: 4px solid #f1f1f1;
    transform: rotate(135deg);

    margin-top: 19px;
    margin-left: 5px;

    cursor: pointer;
    transition-duration: 0.1s;
}
  