html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    color: black;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 2vmax;
    z-index: 1;
}

sub {
    color: black;
    font-family: 'Fira Mono';
    font-size: 0.7vmax;
    z-index: 1;
}

canvas {
    width: 100vw;
    height: 60vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.fullwidthContainer {
    height: 100vh;
    width: 100vw;
}

.introSpacer {
    margin-top: 70vh;
}

.introText {
    position:absolute;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    width: 50vmax;
}